# Excluir todo por defecto y luego permitir solo la app móvil
*

!.easignore
!eas.json
!fase_2/
!fase_2/proyectos/
!fase_2/proyectos/MobileManualInventory/
!fase_2/proyectos/MobileManualInventory/**

# Ignora dependencias y cachés incluso dentro del allowlist
**/node_modules
**/.expo
