# Ignora dependencias y caches comunes
**/node_modules
**/.expo
**/.expo-shared
**/.turbo
**/.next
**/.cache
**/dist
**/build
**/coverage
**/.DS_Store

# Ignora artefactos nativos generados
**/android/app/build
**/ios/build
**/ios/Pods

# Mantén el resto (no usamos allowlist para no omitir package.json)
