fase_2.rar
fase_1/Evidencias grupales/
fase_2/FrontEnd/.env.production
fase_2/FrontEnd/.env.development
fase_2/FrontEnd/.env
fase_2/BackEnd/logs/combined.log
fase_2/BackEnd/logs/error.log
fase_2/BackEnd/logs/combined.log
fase_2/html/categorias.html
fase_2/html/clientes.html
fase_2/html/configuracion.html
fase_2/html/crear-cliente.html
fase_2/html/crear-orden.html
fase_2/html/crear-proveedor.html
fase_2/html/crear-usuario.html
fase_2/html/crearproducto.html
fase_2/html/dashboard.html
fase_2/html/forgot_password.html
fase_2/html/inventario.html
fase_2/html/login.html
fase_2/html/ordenes.html
fase_2/html/productos.html
fase_2/html/proveedores.html
fase_2/html/register.html
fase_2/html/reportes.html
fase_2/html/reset_password.html
fase_2/html/usuarios.html
fase_2/html/ver-orden.html
fase_2/BackEnd/logs/error.log
