* text=auto

# C?digo: usar LF
*.js   text eol=lf
*.cjs  text eol=lf
*.ts   text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.sql  text eol=lf

# Scripts Windows: CRLF
*.ps1  text eol=crlf
*.bat  text eol=crlf
*.cmd  text eol=crlf

# Binarios
*.pdf  binary
*.xlsx binary
*.zip  binary
